.line-limit-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
            line-clamp: 4; 
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.zoom {
    transition: transform .2s ease-in-out;
}

.zoom:hover {
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
}

@media(prefers-reduced-motion) {
    .zoom:hover {
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }
}